.carousel-item>img{
    width:100vw;
    height:92vh;
}


/* Main page */
.page-section{
    font-style: italic;
    margin: 0;
    width: 100vw;
    height: 100vh;
}
.img-full{
    width: 100%;
    height: 100%;
}
.left-box, .right-box{
    width: 50%;
    font-size: 50px;
    text-align: center;
    padding: 5% 5% 5% 5%;
}
.left-box{
    float: left;
}
.right-box{
    float: right;
}
.main-text{
}
.main-heading{
}
.main-body{
    font-size: 20px;
}
.main-secondary{
    background-color: ghostwhite;
}

/* Footer */
footer {
    height: 65vh;
    padding-bottom: 5vh;
    background-color: lavender;
}
footer a {
    color: gray;
    text-decoration: none;
}
footer a:hover {
    color: black;
    text-decoration: underline;
}
footer .container {
    position: relative;
    height: 100%;
}
footer .links {
    position: absolute;
    right: 5%;
    bottom: 20%;
}

footer .company {
    float: left;
    font-size: 13px;
    line-height: 24px;
}
footer .company span {
    color: rgba(69, 79, 93, 0.2);
    display: inline-block;
    margin: 0 6px;
}
footer .company .name {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 20px;
}

footer .list {
    float: left;
    width: 25%;
    line-height: 30px;
    margin-bottom: 7.5%;
}

footer .list-title{
    padding-left: 5%;
}
footer .list .list-title {
    font-weight: bold;
    margin-bottom: 5%;
    margin-top: 20%;
}
footer .list ul li {
    list-style: none;
}

.footer-img{
    width: 60px;
    height: 60px;
}