/* Add about.html css */
p{
    color: #444;
    letter-spacing: -0.02em;
    font-family: 'Noto Sans','Apple SD Gothic Neo','맑은 고딕','Malgun Gothic','돋움',dotum,sans-serif;
    line-height: 26px;
}

.ico_techv {
    display: inline-block;
    background: url(/images/icon/iconv.png);
    background-size: 46px 54px;
    width: 46px;
    height: 54px;
    margin-right: 14px;
}

.ico_techa {
    display: inline-block;
    background: url(/images/icon/icona.png);
    background-size: 46px 54px;
    width: 46px;
    height: 54px;
    margin-right: 14px;
}

.ico_techm {
    display: inline-block;
    background: url(/images/icon/iconm.png);
    background-size: 46px 54px;
    width: 46px;
    height: 54px;
    margin-right: 14px;
}
.tit_value {
    display: flex;
    height: 80px;
    font-weight: 500;
    font-size: 22px;
    line-height: 54px;
    color: #111;
    letter-spacing: -0.014em;
    padding-bottom: 21px;
}

.box-pad{
    padding-left: 25px;
    padding-right: 25px;
}

/* Add about.html css */

.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}

.carousel-caption h5 {
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-caption p{
    width: 75%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}

.navbar-light .navbar-brand {
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #289983;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #289983;
}

nav.shrink {
    background-color: rgba(0, 0, 0, 0.5);
}

nav.shrink.navbar-logo {
    color: #fff;
}
nav.shrink>li>a {
    color: #fff;
}

.card-header {
    text-transform: uppercase;
    text-align: center;
}

.testimonials {
    margin: 50px auto;
}

.testimonials h1 {
    text-align: center;
    font-weight: bold;
    padding-bottom: 1px;
    text-transform: uppercase;
}

.testimonials h1::after {
    content: '';
    background: #333;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}

.col-md-4 {
    margin: 40px auto;
}

.profile {
    padding: 70px 10px 10px;
    background-color: #efefef;
}

.profile img {
    top: -60px;
    position: absolute;
    left: calc(50% - 60px);
    border: 10px solid white;
}

.user {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.profile h3 {
    font-size: 20px;
    margin-top: 15px;
    color: #ff9800;
}

span {
    font-size: 12px;
    color: #333;
}

blockquote {
    font-size: 16px;
    line-height: 30px;
}

.profile:hover {
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
}

.area_tag a {
    display: inline-block;
    height: 26px;
    margin: 4px 4px 0 0;
    padding: 0 10px;
    font-size: 13px;
    line-height: 27px;
    background-color: #eff1ff;
    vertical-align: top;
    color: #2d50ff;
}

.area_tag a:hover {
    background-color: #cce6ff;
    color: #2d50ff;
}

.area_tag .tag_support {
    color: #e535ab;
    background: #fdeff9;
}

.area_tag .tag_support:hover {
    color: #e535ab;
    background: #ffcccc;
}

.area_tag .tag_vision {
    background-color: #f5efff;
    color: #782ffe;
}

.area_tag .tag_vision:hover {
    background-color: #e6ccff;
    color: #782ffe;
}

.area_tag .tag_merit {
    background-color: #e7f6f9;
    color: #0faac8;
}

.area_tag .tag_merit:hover {
    background-color: #cfeef4;
    color: #0faac8;
}

.area_tag a:before {
    content: '#';
}

footer {
    background: black;
    color: #fff
}

.footer_link{
    color: #fff;
}

.footer_link:hover{
    color: #289983;
}

a:hover{
    text-decoration: none;
}