.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}

.carousel-caption h5 {
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-caption p{
    width: 75%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}

.navbar-light .navbar-brand {
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #289983;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #289983;
}

nav.shrink {
    background-color: rgba(0, 0, 0, 0.5);
}

nav.shrink.navbar-logo {
    color: #fff;
}
nav.shrink>li>a {
    color: #fff;
}

.card-header {
    text-transform: uppercase;
    text-align: center;
}

.testimonials {
    margin: 50px auto;
}

.testimonials h1 {
    text-align: center;
    font-weight: bold;
    padding-bottom: 1px;
    text-transform: uppercase;
}

.testimonials h1::after {
    content: '';
    background: #333;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}

.col-md-4 {
    margin: 40px auto;
}

.profile {
    padding: 70px 10px 10px;
    background-color: #efefef;
}

.profile img {
    top: -60px;
    position: absolute;
    left: calc(50% - 60px);
    border: 10px solid white;
}

.user {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.profile h3 {
    font-size: 20px;
    margin-top: 15px;
    color: #ff9800;
}

span {
    font-size: 12px;
    color: #333;
}

blockquote {
    font-size: 16px;
    line-height: 30px;
}

.profile:hover {
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
}

.area_tag a {
    display: inline-block;
    height: 26px;
    margin: 4px 4px 0 0;
    padding: 0 10px;
    font-size: 13px;
    line-height: 27px;
    background-color: #eff1ff;
    vertical-align: top;
    color: #2d50ff;
}

.area_tag .tag_year {
    background-color: #f5efff;
    color: #782ffe;
}

.area_tag .tag_top {
    background-color: #e7f6f9;
    color: #0faac8;
}

.area_tag .tag_top:hover {
    background-color: #cfeef4;
    color: #0faac8;
}

.area_tag a:before {
    content: '#';
}

footer {
    background: black;
    color: #fff
}