@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

/* Add about.html css */
#font-style{
    color: #444;
    letter-spacing: -0.02em;
    font-family: '맑은 고딕','Malgun Gothic', sans-serif;
    line-height: 23px;
    font-size: 14px;
    word-break: keep-all;
}


.ico_techv {
    display: inline-block;
    background: url(/images/icon/iconv.png);
    background-size: 46px 54px;
    width: 46px;
    height: 54px;
    margin-right: 14px;
}

.ico_techa {
    display: inline-block;
    background: url(/images/icon/icona.png);
    background-size: 46px 54px;
    width: 46px;
    height: 54px;
    margin-right: 14px;
}

.ico_techm {
    display: inline-block;
    background: url(/images/icon/iconm.png);
    background-size: 46px 54px;
    width: 46px;
    height: 54px;
    margin-right: 14px;
}
.tit_value {
    display: flex;
    height: 80px;
    font-weight: 500;
    font-size: 22px;
    line-height: 54px;
    color: #111;
    letter-spacing: -0.014em;
    padding-bottom: 21px;
}

.box-pad{
    padding-left: 25px;
    padding-right: 25px;
}

/* Add about.html css */

/* Add activity */

.masonry-list {
    padding: 40px;
    display: inline-block;
}

.li-style{
    padding: 0;
    float: left;
    overflow: hidden;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.li-style p{
    font-family: 'Source Sans Pro', sans-serif;
}

.container::after{
    clear: both;
    overflow: hidden;
}

.tile-act1 {
    padding: 0;
    /*
    background: url(http://albumcoverart.files.wordpress.com/2010/04/fleet-foxes-lp.jpg);
    background-size: 320px 320px;
    */
    background-color: #96544f;
}

.tile-act2 {
    background-color: #71964f;
  }

.tile-act3 {
    background-color: #00afe0;
}

.tile-act4{
    background-color: #3b539b;
}

.tile-act5{
    background-color: hsla(0,0%,0%,.7);
}

.tile-act6{
    background-color: #604951;
}

.tile-primary-content{
    overflow: hidden;
    height: 219px;
    width: 320px;
    transition: all .3s ease-in-out;
}

.tile-act1:hover .tile-primary-content{
    height: 80px;
    transition: all .3s ease-in-out;
}

.tile-act1:hover .card-body{
    height: 239px;
    transition: all .3s ease-in-out;
}

.tile-act1:hover .card-body-description{
    visibility: visible;
    opacity: 1;
    color: #111;
    transition: all .45s ease-in;
}

.tile-act2:hover .tile-primary-content{
    height: 80px;
    transition: all .3s ease-in-out;
}

.tile-act2:hover .card-body{
    height: 239px;
    transition: all .3s ease-in-out;
}

.tile-act2:hover .card-body-description{
    visibility: visible;
    opacity: 1;
    color: #111;
    transition: all .45s ease-in;
}

.tile-act3:hover .tile-primary-content{
    height: 80px;
    transition: all .3s ease-in-out;
}

.tile-act3:hover .card-body{
    height: 239px;
    transition: all .3s ease-in-out;
}

.tile-act3:hover .card-body-description{
    visibility: visible;
    opacity: 1;
    color: #111;
    transition: all .45s ease-in;
}

.tile-act4:hover .tile-primary-content{
    height: 80px;
    transition: all .3s ease-in-out;
}

.tile-act4:hover .card-body{
    height: 239px;
    transition: all .3s ease-in-out;
}

.tile-act4:hover .card-body-description{
    visibility: visible;
    opacity: 1;
    color: #111;
    transition: all .45s ease-in;
}

.tile-act5:hover .tile-primary-content{
    height: 80px;
    transition: all .3s ease-in-out;
}

.tile-act5:hover .card-body{
    height: 239px;
    transition: all .3s ease-in-out;
}

.tile-act5:hover .card-body-description{
    visibility: visible;
    opacity: 1;
    color: #111;
    transition: all .45s ease-in;
}

.tile-act6:hover .tile-primary-content{
    height: 80px;
    transition: all .3s ease-in-out;
}

.tile-act6:hover .card-body{
    height: 239px;
    transition: all .3s ease-in-out;
}

.tile-act6:hover .card-body-description{
    visibility: visible;
    opacity: 1;
    color: #111;
    transition: all .45s ease-in;
}

.card-body {
    position: relative;
    background-color: #fff;
    border-radius: 0 0 1px 1px;
    padding: 0 26px 26px 26px;
    height: 100px;
    transition: all .3s ease-in-out;
}

.card-body h1{
    font-size: 20px;
    text-align: left !important;
}

.card-body h1::after{
    display: inline !important;
}

.card-body-description {
    visibility: hidden;
    opacity: 0;
    line-height: 30px;
    transition: all .2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.card-body-header {
    left: 0;
    padding-top: 20px;
    background-color: #fff;
}

.card-body-header-category {
    position: absolute;
    font-size: 13px;
    padding: 8px 14px;
    line-height: 15px;
    text-transform: uppercase;
    background-color: #EF5A31;
    color: #FFF;
    font-weight: bold;
    text-align: center;
    top: -31px;
    left: 0;
}

.card-body-header-sentence {
    color: #EF5A31;
    font-size: 16px;
}

/*activity css 끝*/

/*project css 시작*/
.padtop{
    padding-top: 70px;
}

.martop{
    margin-top: 30px
}

.box {
    width: 100%;
    position: relative;
}

.box_study {
    display: table;
    width: 100%;
    margin-bottom: 0;
}

.page_inside {
    width: 900px;
    position: relative;
    margin: 0 auto;
    display: table;
}

.box_left {
    display: table;
    width: 47%;
    float: left;
}

.box_right {
    display: table;
    width: 47%;
    float: right;
}

.box_right_service {
    height: 350px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}

.box_left_service {
    height: 350px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}

.box_right_web {
    background-image: url(/images/project/webc.png);
}

.box_right_java {
    background-image: url(/images/project/java.png);
}

.appbutton {
    margin-right: 30px;
    color: #38a3e5;
    font-size: 18px;
}

.applogo {
    float: left;
    height: 120px;
    width: 100px;
    margin-top: 10px;
    margin-right: 20px;
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    border-radius: 25%;
    overflow: hidden;
}

.applogo_amanda {
    background-image: url(/images/project/example.jpg);
}

.title2 {
    font-family: 'NanumSquareRegular', sans-serif;
    font-size: 24px;
    color: #9b9b9b;
}

.title3 {
    font-family: 'NanumSquareRegular', sans-serif;
    font-size: 42px;
    color: #04192b;
}

.text p {
    font-family: 'NanumSquareRegular', sans-serif;
    line-height: 1.65;
    font-size: 14px
}

.project-content{
    padding: 50px 5em;
}

.project-content figure{
    padding: 1.5em 1.5em 2.5em;
}

.project_content img {
    -webkit-border-radius: 1.5em;
    -moz-border-radius: 1.5em;
    border-radius: 1.5em;
}

.img-responsive {
    max-width: 100%;
    display: block;
}

.center-block {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.make-full{
    height: 100vh;
}
/*project css 끝*/

.carousel-full{
    height: 100vh;
}

.carousel-item {
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}

.carousel-caption h5 {
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-caption p{
    width: 75%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}

.navbar-light .navbar-brand {
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #289983;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #289983;
}

nav.shrink {
    background-color: rgba(0, 0, 0, 0.5);
}

nav.shrink.navbar-logo {
    color: #fff;
}
nav.shrink>li>a {
    color: #fff;
}

.card-header {
    text-transform: uppercase;
    text-align: center;
}

.testimonials {
    margin-top: 50px;
}

.testimonials h1 {
    text-align: center;
    font-weight: bold;
    padding-bottom: 1px;
    text-transform: uppercase;
}

.testimonials h1::after {
    content: '';
    background: #333;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}

.col-md-4 {
    margin: 40px auto;
}

.profile {
    padding: 70px 10px 10px;
    background-color: #efefef;
}

.profile img {
    top: -60px;
    position: absolute;
    left: calc(50% - 60px);
    border: 10px solid white;
}

.user {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.profile h3 {
    font-size: 20px;
    margin-top: 15px;
    color: #ff9800;
}

span {
    font-size: 12px;
    color: #333;
}

blockquote {
    font-size: 16px;
    line-height: 30px;
}

.profile:hover {
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
}

.area_tag a {
    display: inline-block;
    height: 26px;
    margin: 4px 4px 0 0;
    padding: 0 10px;
    font-size: 13px;
    line-height: 27px;
    background-color: #eff1ff;
    vertical-align: top;
    color: #2d50ff;
}

.area_tag a:hover {
    background-color: #cce6ff;
    color: #2d50ff;
}

.area_tag .tag_support {
    color: #e535ab;
    background: #fdeff9;
}

.area_tag .tag_support:hover {
    color: #e535ab;
    background: #ffcccc;
}

.area_tag .tag_vision {
    background-color: #f5efff;
    color: #782ffe;
}

.area_tag .tag_vision:hover {
    background-color: #e6ccff;
    color: #782ffe;
}

.area_tag .tag_merit {
    background-color: #e7f6f9;
    color: #0faac8;
}

.area_tag .tag_merit:hover {
    background-color: #cfeef4;
    color: #0faac8;
}

.area_tag a:before {
    content: '#';
}

footer {
    background: black;
    color: #fff
}

.footer_link{
    color: #fff;
}

.footer_link:hover{
    color: #289983;
}

a:hover{
    text-decoration: none;
}

/*---------------------------
-----------------------------  
        history by dahee
-----------------------------
-----------------------------*/

.historyBanner{
    padding-top: 3vh;
    height: 50vh;
    width: 90vw;
    display: block; 
    margin: 0px auto; 
}

#magin {
    padding:10px;
    margin:10px;
}

.historyAwardsSelect {
    text-align: center;
    padding-bottom: 10vh;
}

.historyAwardsSelect a{
    border-bottom: 2.5px solid #5b678d;
    padding-right: 12vw;
    padding-left: 12vw;
    padding-bottom: 1vh;
    font-size: 48px;
    font-weight: 350;
    color: rgb(117, 10, 10);
}

.single-timeline-box {margin-bottom: 75px;}

.single-timeline-box .col-md-5 {
    
    left: 8%;

}

/*experience-time*/

.experience-time h2 {
    font-weight: 400;
}
.experience-time h3 {
    font-size: 16px;
    font-weight: 300;
    color: #636a82;
    margin-top: 14px;
    text-transform: uppercase;
}
.historyImage{
    height:210px;
    width:300px;
}

/*experience-time*/

/*main-timeline*/
.main-timeline{
    position: relative;
}
.main-timeline:before{
    content: "";
    width: 2px;
    height: 100%;
    background: #b2c1ce;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;

}

.circle-content{
    color: #5e8cb4;
    position: absolute;
    left: 49.5%;
    
    z-index: 1;
}


.timeline-content span>i, .experience-time span>i {
    color: #294f72;
    position: absolute;
    font-size: 10px;


    z-index: 1;
}
.timeline-content h4.title {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}
.timeline-content h5 {
    color: #636a82;
    font-size: 14px;
    font-weight: 300;
    margin: 18px 0 20px;
}
.main-timeline .description {
    font-size: 14px;
    color: #999fb3;
}
.main-timeline .timeline-content.right{
    float: right;
    text-align: left;
}
.text_right{
    text-align: right;
}

.experience-time-responsive{display: none;}

/*media query*/

@media (max-width:991px){
    .experience-time-responsive{
        display: block;
        text-align: left;
    }
	.experience-time-main{display: none;}
    .experience-time,.timeline-content,.text_right{
        text-align: left;
    }
    
	.circle-content{
        left:0.1%;
    }
	.main-timeline:before {left:0.9%;}

	.single-horizontal-timeline .experience-time,.single-horizontal-timeline .timeline-content {margin: 0;}
}
@media(max-width:767px){
	.circle-content,.main-timeline:before {display: none;}
	.experience-time, .timeline-content {margin-left: 0;}

}

/* history end*/


/*----------------------
------------------------        
    modal login by dahee
------------------------
------------------------*/
.modal-login {
    width: 800px;
}
.modal-login .modal-content {
    border-radius: 1px;
    border: none;
}
.modal-login .modal-header {
    position: relative;
    justify-content: center;
    background: #f2f2f2;
}
.modal-login .modal-body {
    padding-top: 30px;
}
.modal-login .modal-footer {
    background: #f2f2f2;
}
.modal-login h4 {
    text-align: center;
    font-size: 26px;
}
.modal-login label {
    font-weight: normal;
    font-size: 13px;
}
.modal-login .form-control, .modal-login .btn {
    min-height: 38px;
    border-radius: 2px; 
}
.modal-login .hint-text {
    text-align: center;
}
.modal-login .close {
    position: absolute;
    top: 15px;
    right: 15px;
}
.modal-login .checkbox-inline {
    margin-top: 12px;
}
.modal-login input[type="checkbox"]{
    margin-top: 2px;
}
.modal-login .btn {
    min-width: 100px;
    background: #29c26e;
    border: none;
    line-height: normal;
}
.modal-login .btn:hover, .modal-login .btn:focus {
    background: #29c26e;
}
.modal-login .hint-text a {
    color: #999;
}

.signUpText{
    margin-top: 4px;
    font-size: 14px;
    display: block;
    text-align: center;
}

/*modal login end*/